@import "scss/variables";
@import "scss/mixins";

.breweries_list {
    animation: mainShow 0.3s ease-in-out;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 15px;
    grid-row-gap: 40px;
}

@keyframes mainShow {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
