@import "scss/variables";
@import "scss/mixins";

.single_brewery {
    width: 100%;
    height: auto;
    @include flexbox(column, center, center);

    @include respond_to(lg) {
        @include flexbox(row, space-evenly, center);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include respond_to(lg) {
            width: 700px;
            height: 600px;
        }
    }

    .content {
        // width: 100%;
        height: 100%;
        @include flexbox(column, flex-start, flex-start);
        padding: 0 15px 50px;

        @include respond_to(lg) {
            width: 400px;
            padding: 0;
        }
    }

    .content_line {
        @include flexbox(column, flex-start, flex-start);

        span {
            font-size: 13px;
            color: #00000060;
        }

        p {
            margin: 10px 0 20px;
            font-size: 18px;
        }
    }

    .link_to {
        text-decoration: underline;
        cursor: pointer;
    }
}
