// Brands -------------------
$base: #fff;
$primary: #7d5f4b;
$secondary: #d89b38;
$warning: #f10000;
// --------------------------

// Typography -------------
$base_size: 16;
// ------------------------

// Breakpoints -------------
$breakpoints: (
    "xs": (
        min-width: 350px,
    ),
    "sm": (
        min-width: 640px,
    ),
    "md": (
        min-width: 768px,
    ),
    "lg": (
        min-width: 1024px,
    ),
    "xl": (
        min-width: 1280px,
    ),
    "2xl": (
        min-width: 1536px,
    ),
) !default;
