// Brands -------------------
$base: #fff;
$secondary: #d89b38;
// --------------------------

// Typography -------------
$base_size: 16;
// ------------------------

// Breakpoints -------------
$breakpoints: (
    "xs": (
        min-width: 415px,
    ),
    "sm": (
        min-width: 768px,
    ),
    "md": (
        min-width: 1024px,
    ),
    "lg": (
        min-width: 1280px,
    ),
    "xl": (
        min-width: 1440px,
    ),
    "2xl": (
        min-width: 1920px,
    ),
) !default;
